html {
  padding: 10px;
  font-size: 1em;
  font-family: Dyslexie, Menlo, Monaco, "Courier New", mono;
  line-height: 2em;
}

input {
  text-align: center;
}

input[type="text"] {
  width: 75px;
  border: none;
  border-bottom: 1px solid black;
  padding: 3px 10px;
  font-size: 2.0em;
  background-color: transparent;
  -webkit-border: 0;
  -webkit-box-shadow: none;
  -webkit-appearance: none;
  background-clip: padding-box;
}

input[type=text]:focus {
  border-bottom: 3px solid #555;
  outline: none;
  -webkit-appearance: none;
  -webkit-border: 0;
  -webkit-box-shadow: none;
  background-clip: padding-box;
}

input[type="number"] {
  width: 90px;
  border: none;
  border-bottom: 1px solid black;
  padding: 3px 10px;
  font-size: 2.0em;
  background-color: transparent;
  -webkit-border: 0;
  -webkit-box-shadow: none;
  -webkit-appearance: none;
  background-clip: padding-box;

}

input[type=number]:focus {
  border-bottom: 3px solid #555;
  outline: none;
  -webkit-appearance: none;
  -webkit-border: 0;
  -webkit-box-shadow: none;
  background-clip: padding-box;
}

input[type=range] {
  -webkit-appearance: none;
  width: 70%;
  margin: 12px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 70%;
  height: 6px;
  background: #cccccc;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid #000000;
  height: 35px;
  width: 40px;
  border-radius: 10px;
  background: #759afc;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d6d6d6;
}

button {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid #000000;
  height: 50px;
  width: 50%;
  background: #759afc;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  font-size: 1em;
  display: inline;
  margin: auto;
  -webkit-appearance: none;
}

.green {
  display: inline;
  width: 25%;
  background: #7CD05D;
}

select {
  margin: auto;
  display: block;
  text-align: center;
  width: 90px;
  border: none;
  border-bottom: 1px solid black;
  padding: 3px 10px;
  font-size: 1.5em;
  background-color: transparent;
  -webkit-border: 0;
  -webkit-box-shadow: none;
  -webkit-appearance: none;
  background-clip: padding-box;
}

select:focus {
  font-size: 1.5em;
}

.bandHide {
  display: none;
}
